#pragma code_page(65001)

#include <windows.h>
#include "Platform/ResourceIds.h"

IDI_ZT_SEQUENCE_PLAYER ICON "icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "FileDescription", "序列播放器\0"
            VALUE "FileVersion", "0.1.0.0\0"
            VALUE "InternalName", "FramePlayer\0"
            VALUE "OriginalFilename", "FramePlayer.exe\0"
            VALUE "ProductName", "序列播放器\0"
            VALUE "ProductVersion", "0.1.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
